<div [@routerTransition]>
    <app-page-header [heading]="'Create New Group'" [icon]="'fa-table'"></app-page-header>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    <button class="btn btn-outline-success" (click)="create();">Create</button>
                    <a class="btn btn-outline-danger" routerLink="/matches" [routerLinkActive]="['router-link-active']">
                        Cancel
                    </a>
                </div>
                <div class="card-body">
                    <form [formGroup]="groupForm" novalidate>

                        <fieldset class="form-group">
                            <label class="center-block">Name</label>
                            <input class="form-control" formControlName="name">
                            <p class="help-block">The Name Of Group</p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
