<div [@routerTransition]>
    <app-page-header [heading]="'Tournament Plan (Schedule)'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-md-12">
            <ngb-tabset #t="ngbTabset" activeId="{{selectedStageId}}">
                <ngb-tab id="{{stage.id}}" *ngFor="let stage of stages">
                    <ng-template ngbTabTitle><b>{{stage.name}}</b></ng-template>
                    <ng-template ngbTabContent>
                        <div class="row mt-3">
                            <div class="col col-md-8 col-sm-12">
                                <p>
                                    <a routerLink="/stage" [routerLinkActive]="['router-link-active']" class="btn btn-outline-primary">
                                        <i class="fa fa-fw fa-cogs"></i>&nbsp;Settings
                                    </a>
                                </p>

                                <div class="card">
                                    <div class="card-header clearfix">
                                        <span class="float-left">
                                            Groups
                                        </span>
                                        <span class="float-right">
                                            <a routerLink="/group/{{stage.id}}" [routerLinkActive]="['router-link-active']">
                                                <i class="fa fa-fw fa-plus mr-0"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text">
                                            <div class="row">
                                                <div class="col-sm-4" *ngFor="let group of stage.groups">
                                                     <div class="card text-white bg-warning mb-3">
                                                        <div class="card-header clearfix">
                                                            <span class="float-left">
                                                                {{group.name}}
                                                            </span>
                                                            <span class="float-right">
                                                                <a routerLink="/matches/matches/{{stage.id}}/{{group.id}}" [routerLinkActive]="['router-link-active']">
                                                                    <i class="fa fa-fw fa-cog"></i>
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="card-title clearfix">
                                                                <span class="float-left">
                                                                    Teams
                                                                </span>
                                                                <span class="float-right">
                                                                    <a routerLink="/tournaments/create" [routerLinkActive]="['router-link-active']">
                                                                        <i class="fa fa-fw fa-plus mr-0"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                            <div class="card-text">
                                                                <ngx-dnd-container
                                                                    class="list-group"
                                                                    [droppableItemClass]="'list-group-item list-group-item-action'"
                                                                    [model]="group.teams"
                                                                    dropZone="groups-teams"
                                                                    (drop)="addTeamToGroup($event, stage, group)"
                                                                    (remove)="removeTeamFromGroup($event, stage, group)"
                                                                    >
                                                                    <ng-template let-team="model">
                                                                        {{team.name}}
                                                                    </ng-template>
                                                                </ngx-dnd-container>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-4 col-sm-12">
                                <div class="card">
                                    <div class="card-header clearfix">
                                        <span class="float-left">
                                            All Teams
                                        </span>
                                        <span class="float-right">
                                            <a routerLink="/tournaments/create" [routerLinkActive]="['router-link-active']">
                                                <i class="fa fa-fw fa-plus"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="card-body teams">
                                        <ngx-dnd-container
                                            class="list-group"
                                            [droppableItemClass]="'list-group-item list-group-item-action'"
                                            [copy]="true"
                                            [model]="stage.teams"
                                            [dropZones]="['groups-teams']"
                                            [removeOnSpill]="true"
                                            >
                                            <ng-template let-team="model">
                                                {{team.name}}
                                            </ng-template>
                                        </ngx-dnd-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <a
                            routerLink="/stage/{{currentTournament.tournament.id}}"
                            [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-plus"></i>
                        </a>
                    </ng-template>

                    <ng-template ngbTabContent></ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>