<div class="shadow builder" sectionTitle="Builder Demo">
    <div fxLayout="row" fxLayoutWrap="nowrap" fxFill>
        <div class="builder-source" fxFlex="20%">
            <h4>Source</h4>

            <ngx-dnd-container
                class="root-container"
                [model]="sourceBuilderTools"
                [dropZones]="['builder-target']"
                [copy]="true"
                [droppableItemClass]="droppableItemClass"
                (drag)="builderDrag($event)">

                <ng-template let-item="model">
                    {{item.name}}
                </ng-template>
            </ngx-dnd-container>

        </div>
        <div class="builder-target" fxFlex="60%">
            <h4>Target</h4>

            <ngx-dnd-container
                class="root-container"
                [model]="targetBuilderTools"
                dropZone="builder-target"
                [removeOnSpill]="true"
                [droppableItemClass]="droppableItemClass"
                (drag)="log($event)"
                (drop)="log($event)"
                (over)="log($event)"
                (out)="log($event)"
                (remove)="log($event)">

                <ng-template let-model="model" let-template="template">
                    <div [ngSwitch]="model.inputType">
                        <div *ngSwitchCase="'section'">
                            <div class="shadow">
                                <ngx-dnd-container
                                    dropZone="builder-target"
                                    [model]="model.children"
                                    [removeOnSpill]="true"
                                    [template]="template"
                                    [droppableItemClass]="droppableItemClass"
                                    (drag)="log($event)"
                                    (drop)="log($event)"
                                    (over)="log($event)"
                                    (out)="log($event)"
                                    (remove)="log($event)"
                                    (cancel)="log($event)">
                                </ngx-dnd-container>
                            </div>
                        </div>
                        <div *ngSwitchDefault>
                            <ngx-input
                                [type]="model.inputType"
                                [hint]="model.name"
                                [autofocus]="false"
                                [ngModel]="model.data">
                            </ngx-input>
                        </div>
                    </div>
                </ng-template>
            </ngx-dnd-container>
        </div>
        <div fxFlex>
            <h3>Model</h3>
            <pre><code>{{targetBuilderTools | json}}</code></pre>
        </div>
    </div>
</div>