<div [@routerTransition]>
    <app-page-header [heading]="'Create New Stage'" [icon]="'fa-table'"></app-page-header>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    <button class="btn btn-outline-success" (click)="create();">Create</button>
                    <a class="btn btn-outline-danger" routerLink="/matches" [routerLinkActive]="['router-link-active']">
                        Cancel
                    </a>
                </div>
                <div class="card-body">
                    <form [formGroup]="stageForm" novalidate>

                        <fieldset class="form-group">
                            <label class="center-block">Name</label>
                            <input class="form-control" formControlName="name">
                            <p class="help-block">The Name Of Stage</p>
                        </fieldset>

                        <fieldset class="form-group">
                            <label class="center-block">Type</label>
                            <select class="form-control" formControlName="type">
                                <option value="1">LEAGUE</option>
                                <option value="2">GROUP</option>
                                <option value="3">PLAY-OFF</option>
                                <option value="4">MANUAL</option>
                            </select>
                            <p class="help-block">Stage's Type</p>
                        </fieldset>

                        <fieldset class="form-group">
                            <label class="center-block">Home And Away</label>
                            <input type="checkbox" class="form-control" formControlName="homeAndAway">
                        </fieldset>

                        <fieldset class="form-group">
                            <label class="center-block">Restrict Team Membership In Groups</label>
                            <input type="checkbox" class="form-control" formControlName="restrictTeamMembershipInGroups">
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
